/* Google Font - Oswald, Fira Sans, by default sans-serif */
/* Colors to use: 
    #FFDAD8-pink, 
    #D3DDEA -easy-blue, 
    #F2F7F9 - white, 
    #CDECEF - sky blue, 
    #2B91AD - deep blue */


/* General settings */
body {
    background: #2B91AD;
    font-family: "Oswald", "Fira Sans", sans-serif;
    color: #F2F7F9;
    text-align: center;
   
}

/* Heading */

#logo {
    height: 20px;
    align-items: center;
}

/* Rules Button  */
button {
    display: block;
    margin: auto;
    width: 10rem;
    height: 2rem;
    margin-bottom: 1rem;

}

/* Rules container*/
#rules-container {
    box-sizing: border-box;
    display: none;
    color: #F2F7F9;
}

#rules {
    position: fixed;
    z-index: 1;
    padding-bottom: 10px;
    /* Location of the box */
    top: 50%;
    bottom: 50%;
    margin: auto;
    left: 25px;
    right: 25px;
    /*Max width and height */
    width: 50%;
    height: 50%;
    letter-spacing: 1.5px;
    overflow: auto;
    background-color: #2B91AD;
}

.get5scores {
    color: rgb(20, 239, 231);

}

/* "Close" button */
#close {
    background-color: #CDECEF;
    color: #2B91AD;
    border: 3px solid #D3DDEA;
    margin: 1rem;
    margin-top: 50px;
    margin-left: 40%;
    font-size: 0.9rem;
    margin-bottom: 10%;
    border-radius: 0.5rem;
}

    #open-rules-btn:hover {
        color: #FFDAD8;
        border-color: #2116c8;
        background-color: #2B91AD;
        border-radius:15%;
    }



/*  SETTINGS FOR HANDS */

/*Game Zone*/

h2 {

    color: black;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.game-area {
    background-color: #FFDAD8;
    box-sizing: border-box;
    width: 85%;
    height: 75vh;
    max-height: 600px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20%;
    padding-top: 2%;
    padding-bottom: 20%;
    margin-bottom: 20px;

}

.game-arena {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    margin: 0.5rem 1rem;
    border-right: 1rem;
    color: gray;
    font-size: 10px;


}

.hidden {
    display: none;
}

/*Game Zone - Computer VS Player* - settings*/

.default-computer {
    font-size: 6rem;
    color: #2B91AD;
}
.default-player {
    font-size: 6rem;
    color: #21d15c;
}
.default-vs {
    font-size: 6rem;
}

.game-area span {
    padding: 0 10px;

}

.options {
    display: flex;
    position:absolute;
    align-items: center;
    bottom: 15%;
    padding:3px;

    
}
.options > h2 {
    align-items: center;
    display: flex;
    position:absolute;
    font-size: 15px;
    color: gray;
    bottom: 85%;
    left:30%;
}

.choiceBtn {
    justify-items: center;;
    font-size: 2rem;
    margin-left:10px;
    border-radius: 15%;
    width: 3rem;
    height: 3rem;
    padding-top: 5px;
    bottom: 10%;
    color: gray;
}

.options .hidden {
    display:none;
}

/*Games Scores*/
#scores-area {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 12px;
}

#computerScores {
    color: #2B91AD;
    font-size: 15px;
}

#playerScores {
    color: #21d15c;
    font-size: 15px;
    font-weight: bold;
}

#resultScores {
    color: #2116c8;
    font-weight: bold;
}

    /* Footer - contact Me*/
 footer a {
    font-size: 250%;
    color:beige
}

@media screen and (min-width: 280px) {

    body h1 {
        font-size: 20px;
    }

    main h2 {
        font-size: 25px;
        margin: 15px 0;
    }

    .game-arena span {
        font-size: 45px;
    }

    .main-div {
        display: flex;
        flex-direction: column;
    }

    .options {
        position: static;
        margin-top: 90%;
        margin-left: -3rem;
    }
  

    .options>h2 {
        display: flex;
        position: block;
        font-size: 15px;
        color: gray;
        bottom: 0%;
        left: 25%;
    }

    .choiceBtn {
        font-size: 9px;
        margin: 12px 0px;
        border-radius: 15%;
        background-color:#CDECEF;

    }

    .gameScores {
        font-size: 19px;
        margin: 18px;
        margin-top:-40px;
    }

    .gameScores #result {
        top: 4rem;
    }

    #scores-area div {
        margin-top: -9rem;
        padding: 0;
        font-size: 12px;

    }

    #current-game-result {
        margin-top: -8rem;
    }

}
@media screen and (min-width: 390px) {
   .options {
    margin-top:100%;
    height:65px;
    justify-content:center;
    margin-left:12px;
    margin-top:13rem;
   } 

   .options h2 {
    bottom: 12%;
    left: 35%;
   }

   .options .choiceBtn {
    width: 4rem;
    height:2rem;
    font-size: 14px;
   }

   #scores-area div {
    margin-top: -12rem;
   }

    #current-game-result {
    margin-top: -10rem;
    }


}



@media screen and (min-width: 540px) {
    
    .options .choiceBtn {
        margin-top: 2rem;
        width:70px;
        height:35px;
        background-color: #CDECEF;
        font-weight:bolder;
        cursor: pointer;
    }
    
    
    
    .gameScores {
    font-size: 19px;
    margin: 15px;
    margin-top: -6rem;
    }

    #current-game-result {
        margin-top: -9rem;
    }

}



@media screen and (min-width: 768px) {

    /*Heading*/
    body h1 {
        font-size:35px;
    }


    main h2 {
        font-size: 40px;
    }
        /*GAME ARENA - HANDS SETTINGS*/
    .game-arena span {
        font-size: 85px;
        padding: 0 2rem;
    }


    /*Scores Computer and Player - location on the page*/
    #scores-area div {
        margin-top: 1rem;
        padding: 0 5rem;
    }

        /*Computer and Player Scores - font-size*/
    #scores-area p {
        font-size:22px;  
        margin-top: -18rem;
    }
    /* TEXT - "Chose your Hand"*/ 
    .options>h2 {
        align-items: center;
        position: absolute;
        font-size: 15px;
        bottom: 25%;
        left: 40%;
        margin-bottom:-1rem;
    }

        /* Settings inside Choice Buttons*/
    .options {
        font-size: 34px;
        margin:1px 8px;
        margin-top:13rem;
    }


    #current-game-result {
        margin-top: -12rem;

    }

    #current-game-result p {
        font-size: 27px;
        
    }

    .choiceBtn {
    margin: 3rem 1px;
    justify-items: center;     
    border-radius: 15%;

    }

}

@media screen and (min-width: 1024px) {


    .game-arena span {
            font-size: 125x;
            padding: 0 2rem;
        }

    #scores-area div {
        margin-top: -20rem;
        padding: 0 5rem;
        }
            
        /*Computer and Player Scores - font-size*/
        #scores-area p {
            font-size: 25px;
            margin-top: 5rem;

        }
            
        /* TEXT - "Chose your Hand"*/
    .options>h2 {
        align-items: center;
        position: absolute;
        font-size: 15px;
        bottom: 36%;
        left: 30%;
        margin:0;
    }

            
    #current-game-result {
            margin-top: -17em;   
    }
            
    .choiceBtn {
        margin: 12rem 5px;
        justify-items: center;
        border-radius: 15%;
        width: 4rem;
        height: 4rem;
        background-color:#CDECEF;
    }

    /*options area*/
   .options {
        display: flex;
        position: relative; 
        top: 4%;
        left:5%;
        justify-content: center;
        
   }

  
}

