/* Google Font - Oswald, Fira Sans, by default sans-serif */
/* Colors to use: 
    #FFDAD8-pink, 
    #D3DDEA -easy-blue, 
    #F2F7F9 - white, 
    #CDECEF - sky blue, 
    #2B91AD - deep blue */

/* General settings */
body {
    background: #2b91ad;
    font-family: 'Oswald', 'Fira Sans', sans-serif;
    color: #f2f7f9;
    text-align: center;
}

/* Heading */

#logo {
    height: 20px;
    align-items: center;
}

/* Rules Button  */
.rules-btn {
    display: block;
    margin: auto;
    width: 10rem;
    height: 2rem;
    margin-bottom: 1rem;
}

/* Rules container*/
#rules-container {
    box-sizing: border-box;
    display: none;
    color: #f2f7f9;
}

#rules {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 70%;
    padding: 20px;
    max-width: 400px;
    max-height: 600px;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: #2b91ad;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.get5scores {
    color: rgb(20, 239, 231);
}

/* "Close" button */
#close {
    background-color: #cdecef;
    color: #2b91ad;
    border: 3px solid #d3ddea;
    margin: 50px auto 0;
    font-size: 0.9rem;
    border-radius: 0.5rem;
}

#open-rules-btn:hover {
    color: #ffdad8;
    border-color: #2116c8;
    background-color: #2b91ad;
    border-radius: 15%;
}

/*  SETTINGS FOR HANDS */

/*Game Zone*/

h2 {
    color: black;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.game-area {
    background-color: #ffdad8;
    box-sizing: border-box;
    width: 85%;
    max-width: 900px;
    margin: 30px auto 0;
    padding: 50px 30px;
    margin-bottom: 20px;
    position: relative;
}

.game-arena {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 0.5rem 1rem;
    border-right: 1rem;
    color: gray;
    font-size: 10px;
    gap: 50px;
}

.hidden {
    display: none;
}

/*Game Zone - Computer VS Player* - settings*/
.default-computer,
.default-player {
    width: 150px;
    height: 150px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-computer {
    font-size: 6rem;
    color: #2b91ad;
}

.default-player {
    font-size: 6rem;
    color: #21d15c;
}

.p-fist,
.p-paper,
.p-spock {
    transform: scaleY(-1);
}

.default-vs {
    font-size: 6rem;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.options button {
    border-radius: 15%;
    color: gray;
    padding: 5px 8px;
    cursor: pointer;
}

.options>h2 {
    align-items: center;
    display: flex;
    position: absolute;
    font-size: 15px;
    color: gray;
    bottom: 85%;
    left: 30%;
}

/*Games Scores*/
.scores-area {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-size: 28px;
    gap: 50px;
}

.scores-area p:first-child,
.scores-area p:last-child {
    margin: 0;
}

.scores-area p:first-child {
    color: #2b91ad;
}

.scores-area p:last-child {
    color: #21d15c;
}

#result {
    color: #2116c8;
    font-weight: bold;
    font-size: 24px;
    margin: 0 auto;
    min-height: 30px;
}

/* Footer - contact Me*/
footer a {
    font-size: 250%;
    color: beige;
}

.reset-button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #cdecef;
    font-weight: bolder;
    cursor: pointer;
    visibility: hidden;
}

@media (max-width: 768px) {
    h1 {
        font-size: 5vw;
    }

    .game-area {
        width: 95%;
        padding: 50px 20px;
    }

    .game-arena {
        gap: 5vw;
        margin: 0;
        padding: 0;
    }

    .default-computer,
    .default-player,
    .default-vs {
        font-size: 20vw;
    }

    .default-vs {
        font-size: 8vw;
    }

    .scores-area {
        gap: 10vw;
        font-size: 7vw;
    }

    .options {
        flex-wrap: wrap;
    }
}